<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static "core/js/jquery-1.12.0.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "core/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="{% static "core/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "core/base.css" %}"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block page_head_includes %}{% endblock %}
</head>
<body>

<!-- Global header/navigation bar shown on every page -->
<div class="container-fluid global-header">
        <div class="row">
            <div class="col-md-3 logo">
                <img src="{% static "core/images/logo.png" %}"/>
            </div>
            <div class="col-md-9">
                <ul class="list-inline global-nav-list pull-right">
                {% block page_buttons %}{% endblock %}
                {% if user.is_authenticated %}
                    <li>
                        <button class="btn btn-default new-game-btn" data-toggle="modal" data-target=".new-game-modal">New Game</button>
                    </li>
                    <li>
                    <a href="{% url 'core:logout' %}?next={% url 'core:home' %}">
                        <button class="btn btn-default logout-btn">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout
                        </button>
                    </a>
                    </li>
                    <li>
                        <div class="user-indicator">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ user.username }}
                        </div>


                    </li>
                {% endif %}

                </ul>
            </div>
        </div>
</div>

<!-- Page content -->
{% block page_content %}{% endblock %}

<!-- Modals -->
<div class="modal fade new-game-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="panel panel-default modal-panel">
            <div class="panel-body modal-panel-body">
                <!-- Start form -->
                <form action="{% url 'core:new_game' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 modal-heading">
                            <h3>New Game</h3>
                        </div>
                    </div>
                    <div class="row modal-form-row">
                        <div class="col-md-12">
                            <p class="modal-input-header">BOARD SIZE</p>
                            <select class="form-control" name="game_size">
                                <option value="15">Small (15x15)</option>
                                <option value="20">Medium (20x20)</option>
                                <option value="40">Large (40x40)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row modal-form-row">
                        <div class="col-md-12">
                            <p class="modal-input-header">NUMBER OF MINES</p>
                            <input type="number" name="num_mines" class="form-control">
                        </div>
                    </div>
                    <div class="row modal-btns">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default btn-block green-btn"><span class="glyphicon glyphicon-ok"
                                                               aria-hidden="true"></span>Start Game</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>